:host{
  overflow-x: hidden;
  width: inherit;
}

app-details-view{
  z-index: 10;
}

@media only screen and (max-width: 1000px) {
  :host{
    font-size: x-small;
    font-weight: 600;
  }
}

.roomdata{
  z-index: 1;
  box-sizing: border-box;
  background-color: white;
  padding-bottom: 2vh;
  position: fixed;
  width: inherit;
  top: 0;
  margin-left: 2vw;
  height: 12vh;
  box-shadow: 0 0 30px 20px white;
  overflow: hidden;
}

.background-block{
  width: 100%;
  height: 9vh;
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: white;
}

.timetable-container{
  width: inherit;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-top: 12vh;
  position: relative;
}

body{
  display: grid;
  margin: 0;
}

table {
  width: 100%;
}

.timetable{
  position: absolute;
  z-index: -1;
  display: grid;
  overflow-y: hidden;
  overflow-x: hidden;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 1fr 7fr;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;

}

.grid-div .mat-grid-tile::after{
  content: '';
  border-bottom: #dadce0 1px solid;
  position: absolute;
  width: 97%;
  right: 0;
  margin-top: -1px;
  z-index: 3;
  pointer-events: none;
}

.clockan{
  position: relative;
  padding: 1em;
  padding-left: 1em;
  font-weight: 700;
  font-size: small;
  top: -50px ;
}

.clocks-n-sandals{
  padding-top: 20px;
  display: flex;
  overflow: hidden;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: inherit;
  height: 2600px;
}

.grid-div{
  overflow-x: hidden;
  border-right: white 1px solid;
  overflow: visible;
  flex: 6;
}

.clocks-div{
  position: relative;
  height: inherit;
  padding-right: 0;
  text-align: right;
  flex: 1;
}

.meeting-card{
  z-index: 5;
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  color: black;
  overflow: hidden;
  font-family: Lato;
  max-width: 24vw;
  width: -webkit-fill-available;
  border-left-width: 1vw;
  border-left-color: yellow;
  border-left-style: solid;
  box-shadow: 9px 4px 7px 0px rgba(0,0,0,0.2);
  background-color: white;
  padding: 0 !important;
}

.card-title{
  font-weight: 900;
  margin-top:0.5vw !important;
  margin-left:0.5vw;
}

.card-subtitle{
  font-weight: 700;
  margin-left: 0.5vw;
  font-size: x-small;
  color: rgba(0, 0, 0, 0.3);
}

.pallura{
  background: #fc0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  position: absolute;
  height: 12px;
  left: 0;
  margin-top: -5px;
  width: 12px;
  z-index: 505;
}

.viiva{
  position: absolute;
  z-index: 505;
  border-top: #fc0 solid 2px;
  left: 0;
  right: 0;
  pointer-events: none;
}
