<body style="width: inherit;" (click)="emptyScrollCount()" (scroll)="onScroll($event)" >

  <div class="timetable-container" >

    <div class="roomdata" style="z-index: 6;">
      <h3 class="roomname">{{ conferenceRoomData?.Name | uppercase}}<span>&nbsp;{{ time | date:'dd.MM.yyyy' }}</span></h3>
      <h2 style="margin-top: 1vh;margin-right: 2.3vw;">{{ conferenceRoomData?.Subtitle | uppercase}} </h2>
    </div>

    <div class="background-block"></div>

    <div class="clocks-n-sandals" >

      <div class="clocks-div">
        <mat-grid-list #myAnotherDiv cols="1" rowHeight="100px">
          <mat-grid-tile
            *ngFor="let tile of timeTiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            style="overflow: visible;">
            <div class="clockan"> {{tile.text}} </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="grid-div">
        <mat-grid-list #myDiv cols="1" rowHeight="100px" class="timetable" >
          <mat-grid-tile
            *ngFor="let tile of timeTiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            style="overflow: visible;">
          </mat-grid-tile>

          <div #slide class="pallura" [ngStyle]="{'top': runningTime }"></div>
          <div  class="viiva" [ngStyle]="{'top': runningTime }"></div>
        </mat-grid-list>

        <mat-card *ngFor="let meeting of meetings; let i = index"
                  [style.top]="getplacement(meeting)"
                  [style.height]="getDuration(meeting)"
                  [ngStyle]="{'left': widthFromLeft }"
                  (click)="[showDetailsBehaviour(meeting), emptySideNavCount()]"
                  [style.fontSize]="getFontSize(meeting)"
                  class="meeting-card">
          <mat-card-title class="card-title">
            {{  meeting.Subject }}
          </mat-card-title>
          <mat-card-subtitle class="card-subtitle">
            {{  meeting.Organizer | uppercase}}
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</body>

<app-details-view (click)="emptySideNavCount()"
  [meetingData]="detailMeeting"
  [toggleActive]="showDetails">
</app-details-view>
