
<mat-sidenav-container class="scroll">

  <mat-sidenav #rightSidenav mode="over"  class="rightSidenav"
        [fixedInViewport]="true" [fixedTopGap]="0" position="end"
        style="right:auto !important;position: auto !important; background-color:white;" [@openClose]="toggleActive ? 'open' : 'closed'" >
        <!-- [@openClose]="panelOpenState ? 'open' : 'closed'" -->

        <div class="navigation"  (click)="toggleRightSidenav()" >

          <svg xmlns="http://www.w3.org/2000/svg" [@arrow]="toggleActive ? 'open' : 'closed'" style="margin: 1.1em;z-index:inherit;align-self:center;" viewBox="0 0 24 24" fill="white" width="60px" height="40px"><path d="M0 0h24v24H0z" fill="none"/><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/></svg>
          <span style="color:black;font-size:x-large;align-self:center;position:relative;margin-left:2vw;">{{ meetingData?.Subject | uppercase }}</span>
        </div>
    <div class="meeting-description">

    <!-- MEETING DATE -->
      <mat-expansion-panel  [disabled]="true">
        <mat-expansion-panel-header class="row">

          <mat-panel-title>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="30px" height="30px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/></svg>
          </mat-panel-title>

          <mat-panel-description>
            {{ meetingData?.StartTime | date:'EEEE, d.M.yyyy' | uppercase }}
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

    <!-- MEETING TIME -->
      <mat-expansion-panel [disabled]="true">
        <mat-expansion-panel-header class="row">

          <mat-panel-title>
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"><path d="M0 0h24v24H0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
          </mat-panel-title>

          <mat-panel-description>
            {{ meetingData?.StartTime | date:'HH:mm' }} TO {{ meetingData?.EndTime | date:'HH:mm' }}
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

    <!-- MEETING PARTICIPANTS -->
      <mat-expansion-panel *ngIf="meetingData?.Participants" style="cursor: pointer;">
        <mat-expansion-panel-header class="row">

          <mat-panel-title>
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
          </mat-panel-title>

          <mat-panel-description>
            {{' participants ' | uppercase}} <span *ngIf="meetingData?.Participants?.length>0"> ( {{ meetingData?.Participants?.length }} )</span>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <!-- TÄÄ VIEL UUSIKS -->
        <ng-container *ngIf="meetingData?.Participants">
          <mat-card *ngFor="let participant of meetingData?.Participants" class="person">
            <mat-card-content class="home-card-content">

              <img mat-card-avatar class="avatar">

              <div class="flex">
                <mat-card-title class="title">
                  {{ participant?.Name }}
                </mat-card-title>

                <mat-card-subtitle class="subtitle">
                  {{ participant?.Title }}
                </mat-card-subtitle>
                </div>
            </mat-card-content>

          </mat-card>
        </ng-container>

      </mat-expansion-panel>

      <!-- MEETING DESCRIPTION -->
      <mat-expansion-panel (opened)="panelOpenState" [disabled]="true">
        <mat-expansion-panel-header class="row">

          <mat-panel-title>
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM8 14H6v-2h2v2zm0-3H6V9h2v2zm0-3H6V6h2v2zm7 6h-5v-2h5v2zm3-3h-8V9h8v2zm0-3h-8V6h8v2z"/></svg>
          </mat-panel-title>

          <mat-panel-description>
            {{' description ' | uppercase}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>DIDN'T EXPECT THIS.</p>

      </mat-expansion-panel>

    <mat-card class="desc">
      <mat-card-content>
        {{ meetingData?.Description }}
      </mat-card-content>
    </mat-card>


    </div>


  </mat-sidenav>
</mat-sidenav-container>
