:host{
  z-index: 999;
  width: inherit;
}

.mat-sidenav{
  width: inherit;
}

.mat-sidenav-container{
  z-index: 999;
  width: inherit;
}

.rightSidenav {
	z-index: 999;
}


.desc{
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-evenly;
  text-align: left;
}

.navigation{
  cursor: pointer;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 5rem;
  color: var(--yellow);
  background-color: var(--yellow);
}

.desc{
  margin-bottom: 20vh;
}

.row{
  margin-top: 1em;
  /* border-top: rgba(219, 219, 219, 0.089);
  border-bottom-style: inset; */
}

.person{
  padding-left: 3.3vw;
  padding-right: 5vw;
  justify-content: space-evenly;
  text-align: left;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.avatar{
  grid-row: 1/2;
  grid-column: 1;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.home-card-content {

  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: left;

  margin-left: 1em;
}

.title{
  grid-row: 1;
  grid-column: 2;
}

.subtitle{
  grid-row: 2;
  grid-column: 2;
}

.flex{
  margin-left: 1em;
}
