.center {
  display: flex;
  background-color:rgba(0, 0, 0, 0.075);
  justify-content: center;
  height: 70vh;
  top: 0;
  left: 0;
}

/* Thick red border */
hr.thick {
  border: 1px solid red;
}

.center h1{
  align-self: center;
  font-size: 7em;
  font-weight: bolder;
  padding: 0.2em;
}

.header{
font-weight: lighter;
}

.meetingInProgress{

  font-variant-caps: all-petite-caps;
  display: grid;


}
