.center {
  display: flex;
  /* background-color:rgba(0, 0, 0, 0.075); */
  justify-content: center;
  /* min-height: 27vh; */
  /* overflow: hidden; */
  margin: 0;
}


.center h1{
  align-self: center;
  font-size: 7vw;
  font-weight: bolder;
  line-height: 0.8em;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  inline-size: min-content;

  border: 0;
  outline: 0;
  transform: translateY(-2vh);
}

.header{
font-weight: lighter;
font-size: 1.6em;
max-height: 7.7vh;
min-height: 5.5vh;
}

.divider{
  max-height: 1.2vh;
  margin-top: 1vh;
  min-height: 2.2vh;
}

.meetingInProgress{

  font-variant-caps: all-petite-caps;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: var(--current-view-height);
  text-align: center;
  color: aliceblue;
  transform: translateY(10vh);
  opacity: 0;
}

.time{
  font-size: 3vh;
}

.organizer{
  font-size: 2.5vh;
}
