
<div style="position:relative;width: 100%;height:inherit">

  <div class="center">

    <!-- OSA ON NULLEJA!  -->
    <ng-template ngFor let-item [ngForOf]="meetingData" let-i="index" [ngForTrackBy]="trackByFn">
      <mat-card class="meetingInFooter" [@flyInOut]="showMeeting ? 'open' : 'closed'" >
        <mat-card-title class="clock">
          {{ meetingData[i].StartTime | date:'HH:mm'}} - {{ meetingData[i].EndTime | date:'HH:mm'}}
        </mat-card-title>
        <mat-card-subtitle class="subject">
          {{ meetingData[i].Subject }}
        </mat-card-subtitle>
        <mat-card-content class="organizer">
          {{ meetingData[i].Organizer }}
        </mat-card-content>
      </mat-card>

    </ng-template>

  </div>

</div>
