/* You can add global styles to this file, and also import other style files */

:root {
  font-kerning:none;
  -webkit-font-smoothing: subpixel-antialiased;
  --primary-color: #fff;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;

  --yellow: #fc0;
  --text-color: rgb(127,129,130);
  --subtext-color: #fff;

  --bgImage: url(./assets/bliss.jpg);

  --navbar-width: 33vw;
  --footer-height: 30vh;
  --current-view-width: 67vw;
  --current-view-height: 70vh;

  ::-webkit-scrollbar{
    width: 0.45rem;
  }

  ::-webkit-scrollbar-track{
    background: #fc0;
  }

  ::-webkit-scrollbar-thumb{
    background: yellow;
  }

}

html{
  background: url(./assets/bliss_EPIC.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  font-family: Lato;
}
